@{
    ViewData["Title"] = "Home Page";

    var trasient = (MyObject)ViewBag.trasient;
    var scoped = (MyObject)ViewBag.scoped;
    var singleton = (MyObject)ViewBag.singleton;
}

<div class="text-center">
    
</div>
